@charset "utf-8";
header, hgroup, menu, nav, section, menu, footer, article, figure, figcaption {
	display: block;
	margin: 0;
	padding: 0
}
body, p, input, div, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, form {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: middle;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%
}
fieldset, img, input, button, select, textarea {
	border: 0;
	padding: 0;
	margin: 0;
	background: 0;
	outline: 0
}
html {font-size: 62.5%;}
body {
-webkit-text-size-adjust: none;
font-family: "微软雅黑", Helvetica, STHeiTi, sans-serif;
color: #000;
font-size: 1.2rem;
}
a, img {
-webkit-touch-callout: none;
text-decoration: none;
-webkit-tap-highlight-color: rgba(255,0,0,0)
}
input, button {
font-family: "微软雅黑", Helvetica, STHeiTi, sans-serif
}
body, .index .main {
-webkit-overflow-scrolling: touch;
overflow-scrolling: touch
}
.clear {
overflow: hidden;
clear: both;
height: 1px;
font-size: 1px;
line-height: 1px
}
.cf:before, .cf:after {
content: "";
display: table
}
.cf:after {
clear: both
}
.cf {
zoom: 1
}
:focus {
-moz-outline-style: none;
outline: 0
}
input {
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
input::-webkit-input-placeholder {
text-align:center
}
body{background:#bcfff8}
article{position:relative;z-index:100}
.content{padding-bottom:6rem}
.content div img{width:100%}
/*head*/
.head {position:relative;}
.head .text{top:70%;width:100%;text-align:center;color:#ea5300;font-size:1.4rem;line-height:2.4rem}
.head .text span{font-size:1.8rem}
.head .text ,.head .btn{position:absolute;-webkit-animation:opacity 1.5s 0.8s ease both;}
.head .btn{left:24%;top:85%}
.head p.ad1{position:absolute;width:100%;}
.head p.ad3{position:absolute;width:29.2%;left:35.4%;top:8%;}
.icon-ad3-item{-webkit-animation:move 1s 2s ease infinite;width:12%;height:6.4%;display:block;position:absolute;top:26%;left:24%;background:url(../../../images/update/20150824/ad3-item.png) no-repeat 0 0;background-size:contain}
.icon-ad3-item.right{right:24%;left:auto;}
.head img{width:100%}
.head .ad3{-webkit-animation:ad3 2s 1s ease both; -webkit-transform-origin:bottom;top:0;}
@-webkit-keyframes ad3{
0%{opacity:0;-webkit-transform:scale(0.2,0.2)}
60%{opacity:1;-webkit-transform:scale(0.98,0.98)}
100%{-webkit-transform:scale(1,1)}
}
.head .ad1{-webkit-animation:ad1 1.5s 0s ease both;top:30%}
@-webkit-keyframes ad1{
0%{-webkit-transform:translateY(-30rem)}
60%{-webkit-transform:translateY(3rem)}
80%{-webkit-transform:translateY(-3rem)}
100%{-webkit-transform:translateY(0)}
}
@-webkit-keyframes opacity{
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes move{
0%{-webkit-transform: rotate(10deg)}
30%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(5deg)}
}
/*footer*/
footer{position:fixed;bottom:0;background:rgba(255,255,255,0.9);padding:1rem;width:100%;box-sizing:border-box;}
/*btn*/
.btn{width:52%;margin:0 auto;display:block;border:0.1rem solid #3a7203;background:#5cb604;border-radius:0.8rem;box-shadow:0 0.2rem 0.2rem #b8ff08 inset;color:#fff;font-size:2rem; box-sizing:border-box;height:4.2rem;line-height:4.2rem;}
.btn:hover{background:#499003}   
/*notic*/
.notic .icon-notic{position:absolute;left:0.8rem;top:0.55rem;background:url(../../../images/update/20150824/icon-notic.png) no-repeat 0 0;width:1.3rem;height:1.3rem;display:inline-block; vertical-align:middle;background-size:contain;}
.notic{position:fixed;width:100%;top:0;left:0;padding-left:2.5rem;padding-right:0.8rem;box-sizing:border-box;z-index:100;background:#fff;height:2.4rem;border-bottom:1px solid #846001; overflow:hidden}
.notic ul li{margin-right:4rem;font-size:1.2rem;line-height:2.4rem;color:#f8285c;}