@-webkit-keyframes path-animation {
  0% {
    motion-offset: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    motion-offset: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes path-animation {
  0% {
    motion-offset: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    motion-offset: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
body {
  text-align: center;
}

#alice {
  -webkit-animation: path-animation 3s 0.2s forwards;
          animation: path-animation 3s 0.2s forwards;
  margin-left: -200px;
  width: 200px;
  height: auto;
  motion-path: path("M179.6, 0.5c303.1, 0, 250, 400.1, 0, 400.1S-46.5, 56.8, 175.8, 56.8 c230, 0, 161.5, 292.9, 3.8, 292.9s-157.7-247.6, 0-247.6c135.4, 0, 113.1, 199.2, 0, 199.2s-97.7-153.1, 0-153.1c78.5, 0, 66.9, 114.6, 0, 114.6 s-58.5-84.6, 2.3-84.6c46.9, 0, 33.1, 56.9-2.3, 56.9c-26.2, 0-19.2-28.5, 0-28.5");
}
#alice2 {
  -webkit-animation: path-animation 2s 0.5s forwards;
          animation: path-animation 3s 0.5s forwards;
  margin-left: -150px;
  width: 150px;
  height: auto;
  motion-path: path("M179.6, 0.5c303.1, 0, 250, 400.1, 0, 400.1S-46.5, 56.8, 175.8, 56.8 c230, 0, 161.5, 292.9, 3.8, 292.9s-157.7-247.6, 0-247.6c135.4, 0, 113.1, 199.2, 0, 199.2s-97.7-153.1, 0-153.1c78.5, 0, 66.9, 114.6, 0, 114.6 s-58.5-84.6, 2.3-84.6c46.9, 0, 33.1, 56.9-2.3, 56.9c-26.2, 0-19.2-28.5, 0-28.5");
}

