.pg04 {
    background-image: url(../images/pg04@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 31.3125rem 24rem;
}

.pg04-boy {
    position: absolute;
    left: 50%;
    margin-left: -9.6875rem;
    bottom: -1.125rem;
    width: 19.375rem;
    height: 16.25rem;
    background-position: -0.125rem -0.125rem;
}

.pg04-text1 {
    position: absolute;
    left:1.25rem;
    top:-6.875rem;
    width: 12.25rem;
    height: 5.4375rem;
    background-position: -0.125rem -16.625rem;
}

.pg04-text2 {
    position: absolute;
    top:-0.3125rem;
    left:1.3125rem;
    width: 10.375rem;
    height: 1.25rem;
    background-position: -12.625rem -16.625rem;
}

.pg04-text3 {
    position: absolute;
    right: 1.25rem;
    top:8.25rem;
    width: 5.9125rem;
    height: 5.95rem;
    background-position: -12.625rem -18.125rem;
}

.pg04-text4 {
    position: absolute;
    left: 0.625rem;
    top: 12.25rem;
    z-index: 50;
    width: 4.6625rem;
    height: 4.6625rem;
    background-position: -19.75rem -0.125rem;
}

.pg04-text5 {
    position: absolute;
    top: 3.125rem;
    left: 4.5rem;
    z-index: 20;
    width: 6.725rem;
    height: 6.725rem;
    background-position: -24.6rem -0.125rem;
}

.pg04-xx {
    position: absolute;
    left: 50%;
    margin-left: -5.375rem;
    bottom: -6.625rem;
    z-index: 10;
    width: 10.8125rem;
    height: 7.5rem;
    background-position: -19.75rem -7rem;
}

.pg04-round {
    position: absolute;
    bottom: -2.125rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    background: #3db797;
}