.pg06 {
    background-image: url(../images/pg06@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 21rem 45.25rem;
}

.pg06-child {
    position: absolute;
    bottom: -4.6rem;
    left: 50%;
    z-index: 110;
    margin-left: -7.875rem;
    width: 15.8125rem;
    height: 7.1875rem;
    background-position: -0.125rem -0.125rem;
}

.pg06-phone {
    position: absolute;
    left: 50%;
    bottom: -8.4375rem;
    margin-left: -5.3125rem;
    width: 10.6875rem;
    height: 24.125rem;
    background-position: -0.125rem -7.625rem;
}

.pg06-text1 {
    position: absolute;
    left:1.25rem;
    top:-7.1875rem;
    width: 20.6875rem;
    height: 4.9375rem;
    background-position: -0.125rem -32.0625rem;
}

.pg06-text2 {
    position: absolute;
    top: -0.625rem;
    left: 50%;
    margin-left: -6.5625rem;
    width: 13.125rem;
    height: 6.4375rem;
    background-position: -0.125rem -37.3125rem;
}

.pg06-yinying {
    position: absolute;
    bottom: -5rem;
    z-index: 110;
    left: 50%;
    margin-left: -6.875rem;
    width: 14.4375rem;
    height: 1rem;
    background-position: -0.125rem -44.0625rem;
}

.pg06-round {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    margin-left: -10rem;
    width: 19.625rem;
    height: 19.625rem;
    border-radius: 19.625rem;
    background: #f9a332;
}

.pg06-zhezhao { 
    position: absolute;
    left: 50%;
    z-index: 100;
    margin-left: -11.875rem;
    bottom: -8.620rem;
    width: 23.4375rem;
    height: 8.8125rem;
    background:url(../images/pg06_zhezhao.png);
    background-size: 23.4375rem 8.8125rem;
}
 
