 .pg02 {
    background-image: url(../images/pg02@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 30.5rem 24.375rem;
}

.pg02-message {
    position: absolute;
    bottom: 6.25rem;
    right: 1.875rem;
    z-index: 40;
    width: 10.9375rem;
    height: 12.5rem;
    background-position: -0.125rem -0.125rem;

}

.pg02-message-text {
    position: absolute;
    bottom:8.875rem;
    right:2.5rem;
    z-index: 50;
    width: 9.5625rem;
    height: 8.5rem;
    background-position: -11.375rem -0.125rem;
}

.pg02-title02 {
    position: absolute;
    top:-0.3125rem;
    left:1.3125rem;
    width: 16.5625rem;
    height: 1.3125rem;
    background-position: -0.125rem -12.9375rem;
}

.pg02-billboard {
    position: absolute;
    bottom: -4.375rem;
    left: 50%;
    z-index: 30;
    margin-left: -8.5rem;
    width: 17.0625rem;
    height: 9.625rem;
    background-position: -0.125rem -14.5625rem;
}

.pg02-girl {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    z-index: 20;
    margin-left: -8.125rem;
    width: 8rem;
    height: 17.5rem;
    background-position: -21.25rem -0.125rem;
}

.pg02-title01 {
    position: absolute;
    left:1.25rem;
    top:-6.875rem;
    width: 12.8125rem;
    height: 5.5625rem;
    background-position: -17.5rem -17.9375rem;
}

.pg02-round {
    position: absolute;
    bottom: -3.125rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;

    background: #b27db9;
}

.ele-eye1 {
    position: absolute;
    top: 12.625rem;
    left: 50%;
    margin-left: -6.9375rem;
    z-index: 60;
    width: 1.125rem;
    height: 0.875rem;
    background-image: url(../images/eye.png);
    background-size: 1.125rem 0.9375rem;
    opacity: 0;
}
.ele-eye2 {
    position: absolute;
    top: 12.625rem;
    left: 50%;
    margin-left: -3.9375rem;
    z-index: 60;
    width: 1.125rem;
    height: 0.875rem;
    background-image: url(../images/eye2.png);
    background-size: 1.125rem 0.9375rem;
    opacity: 0; 
}
.eye-ation {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-timing-function: linear;
    animation-duration: 2s;
    -webkit-animation-name: eye-move;
    animation-name: eye-move;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes eye-move {
    5% {
    opacity:1;
    }
    8% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }

@-webkit-keyframes eye-move {
    5% {
    opacity:1;
    }
    8% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }