.pg01 {
    background-image: url(../images/pg01@2x.png);
    background-repeat: no-repeat;
    display: block;
}

.pg01-cr {
    position: absolute;
    left: 50%;
    bottom: -6.25rem;
    z-index: 30;
    margin-left: -5.8125rem;
    width: 11.6875rem;
    height: 0.875rem;
    background-position: -0.125rem -0.1875rem;
    background-size: 17.625rem 33.875rem;
}

.pg01-phone {
    position: absolute;
    bottom: -3.75rem;
    left: 50%;
    z-index: 10;
    margin-left: -8.625rem;
    width: 17.3125rem;
    height: 21.125rem;
    background-position: -0.125rem -1.3125rem;
    background-size: 17.625rem 33.875rem;
}

.pg01-text01 {
    position: absolute;
    top:-0.3125rem;
    left:1.3125rem;
    width: 11.625rem;
    height: 5.1875rem;
    background-position: -0.125rem -22.75rem;
    background-size: 17.625rem 33.875rem;
}

.pg01-text2 {
    position: absolute;
    left:1.25rem;
    top:-6.875rem;
    width: 17.25rem;
    height: 5.4375rem;
    background-position: -0.125rem -28.3125rem;
    background-size: 17.625rem 33.875rem;
}


.pg01-round {
    position: absolute;
    bottom: -3.125rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    background: #7fb539;
}