html,body {
  width: 100%;
  height: 100%;
}
ul, li {
  list-style: none;
}

.logo {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    zoom:3;
}

.cube-inner, .cube-inner li {
    position: absolute;
    display: block;
}

.cube-inner {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: -75px 0 0 -75px;
    transform-origin: 75px 75px;
    transform-style: preserve-3d;
    transform: rotateX(-33.5deg) rotateY(45deg);
    animation: fastspin 10s ease-in-out infinite 5s;
}

.cube-inner li {
    width: 150px;
    height: 150px;
    transition: transform 1s ease-in-out;
}

.cube-inner li:after {
    content: "";
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
}

.cube-inner .front, .cube-inner .back, .cube-inner .top, .cube-inner .right, .cube-inner .left {
    background: radial-gradient(transparent 0%, rgba(5,17,53,.2) 100%);
    -webkit-background-size: cover;
    background-size: cover;
}

.cube-inner .front {
    transform: translateZ(75px);
    background-image: url("http://alexpogiba.com/images/1.jpg");

}

.cube-inner .back {
    transform: rotateX(180deg) translateZ(75px);
}

.cube-inner .back:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('http://alexpogiba.com/images/2.jpg') 0 0 repeat;
    background-size:cover;
    transform: rotate(180deg);
}

.cube-inner .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url("http://alexpogiba.com/images/3.jpg");
}

.cube-inner .bottom {
    transform: rotateX(-90deg) translateZ(75px);
    background-image: url("http://alexpogiba.com/images/4.jpg");
}

.cube-inner .right {
    transform: rotateY(90deg) translateZ(75px);
    background-image: url("http://alexpogiba.com/images/5.jpg");
}

.cube-inner .left {
    transform: rotateY(-90deg) translateZ(75px);
    background-image: url("http://alexpogiba.com/images/6.jpg");
}

@keyframes fastspin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }

    100% {
        transform: rotateX(-33.5deg) rotateY(-315deg);
    }

}